.square2{
    border: 1px solid black;
    height: auto;
    width: 100px;
    box-sizing: border-box;
}

.calc{
    font-size: 14px;
}

.calc input{
    margin-bottom: 8px;
}

.calc input[type="text"]{
    width: 50px;
}

.calc input[type="button"],
.calc input[type="reset"]{
    display: block;
    width: 50px;
    background-color: green;
}