.body{
    display: grid;
    grid-template-areas: 
    "login login info"
    "squares text info";
    grid-template-rows: 30vh 63vh;
    grid-template-columns: 100px 2fr 1fr;
    grid-gap: 10px;
    font-size: 16px;
    background-color: honeydew;
    border: 1px solid rgb(85, 75, 75);
    padding: 10px;
    transition: font-size 2s ease-in-out;
}

.square1,
.square2,
.square3{
    border: 1px solid black;
    height: auto;
    width: 100px;
    box-sizing: border-box;
}

.loginFormContainer{
    grid-area: login;
}

.info{
    grid-area: info;
}

.squares{
    grid-area: squares;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 40px;
}

.text{
    grid-area: text;   
}

.loginFormContainer{
    border: 2px solid black;
    border-radius: 12px;
}

.loginFormContainer p{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}

.loginForm{
    padding-left: 30px;
}

.loginForm input{
    transition: all 2s ease-in-out;
    transition-property: padding, width;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.loginForm input:hover{
    background-color: rgba(0, 128, 0, 0.103);
    border: 2px solid rgba(0, 128, 0, 0.705);
}

.loginForm input:focus{
    background-color: rgba(0, 128, 0, 0.308);
    border: 3px solid rgba(0, 128, 0, 0.999);
}

input[type="submit"] {
    transition: all 2s ease-in-out;
    transition-property: padding, width;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    width: 70px;
    padding: 10px;
    background-color: lightgreen;
    box-shadow: 2px 2px 6px green;
}

.info{
    border: 2px solid black;
    padding: 20px 10px;
}

div.info>div{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.info input{
    border-radius: 5px;
}

.info input[type="text"]{
    transition-property: padding, width;
    transition: all 2s ease-in-out;
    padding: 10px;
    width: 200px;
}

.info input[type="submit"] {
    transition: all 2s ease-in-out;
    transition-property: padding, width;
    padding: 10px;
    width: 70px;
}

.info input[type="reset"] {
    transition: all 2s ease-in-out;
    transition-property: padding, width;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    width: 70px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.103);
    box-shadow: 2px 2px 6px red;
}

.info input:hover {
    background-color: rgba(0, 128, 0, 0.103);
    border: 2px solid rgba(0, 128, 0, 0.705);
}

.info input:focus{  
    background-color: rgba(0, 128, 0, 0.308);
    border: 3px solid rgba(0, 128, 0, 0.999);
}

.infoName form>input{
    margin-bottom: 8px;
}

div.info>div{
    margin-top: 8px;
}

.text {
    border: 1px solid black;
}

.text p{
    /* background-image: url("download.jpg"); */
    font-weight: bold;
    margin: 0;
    font-family: Luminari, fantasy;
    font-weight: normal;
    padding: 10px;
    text-align: left;
}

.capitalize{
    text-transform: capitalize;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: red;
}

.questionImg{
    transition: width 2s ease-in-out, height 2s ease-in-out;
    width: 40px;
    height: 40px;
}

.textareaForm input{
    padding: 7px;
    width: 60px;
    border-radius: 5px;
}

.hyperlink{
    margin-top: 10px;
}

.hyperlink a:link, .hyperlink a:visited{
    text-decoration: none;
    display: inline-block;
    background-color: rgba(171, 145, 218, 0.137);
    padding: 10px 15px;
    color: black;
    text-align: center;
    border: 2px solid rgb(13, 80, 65);
} 

.hyperlink a:hover{
    box-shadow: 2px 2px 6px black ;
}

.hyperlink a:active{
    background-color: cadetblue;
}

table, td, th{
    border-collapse: collapse;
    border: 1px solid black;
}

.table{
    margin-top: 20px; 
}

th {
    background-color: coral;
    text-align: center;
    padding: 4px;
}

td{
    background-color: rgba(255, 127, 80, 0.26);
    text-align: center;
    padding: 4px;
}

ul{
    list-style-type: square;
    background-color: rgba(100, 148, 237, 0.315);
}

ul li:nth-child(even){
    background-color: rgba(128, 128, 128, 0.158);
}

ul li:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.384);
}

.createCookies button{
    transition-property: font-size, padding;
    transition: all 2s ease-in-out;
    display: inline-block;
    font-size: 16px;
    padding: 6px 10px;
    background-color: rgba(0, 128, 0, 0.514);
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.createCookies button:hover{
    box-shadow: 2px 2px 6px black;
}

.invalid{
    border: 2px solid red;
}

.valid{
    border: 4px solid green;
}

.calc{
    font-size: 14px;
}

.calc input{
    margin-bottom: 8px;
}

.calc input[type="text"]{
    width: 50px;
}

.calc input[type="button"],
.calc input[type="reset"]{
    display: block;
    width: 50px;
    background-color: green;
}


@media all and (max-width: 1280px) {
    .body{
        display: grid;
      grid-template-areas: 
      "info"
      "login"
      "squares"
      "text";
      grid-template-columns: 1fr;
      grid-template-rows: 490px 1fr 200px 2fr;
      font-size: 12px;
    }

    .squares{
        grid-area: squares;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .square1,
    .square2,
    .square3{
        width: 100px;
    }

    .info{
        position: sticky;
        top: 10px;
    }

    .questionImg{
        width: 20px;
        height: 20px;
    }

    .loginForm input{
        width: 500px;
        padding: 6px;
    }

    input[type="submit"]{
        width: 90px;
        padding: 7px;
    }

    .info input[type="submit"]{
        width: 90px;
        padding: 7px;
    }

    .info input[type="reset"]{
        width: 90px;
        padding: 7px;
    }

    .info input[type="text"]{
    width: 250px;
    padding: 7px;
    }
    
    .createCookies button{
        font-size: 20px;
        padding: 7px 15px;
    }
}