.loginFormContainer{
    border: 2px solid black;
    border-radius: 12px;
}

.loginFormContainer p{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}

.loginForm{
    padding-left: 30px;
}

.loginForm input{
    transition: all 2s ease-in-out;
    transition-property: padding, width;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.loginForm input:hover{
    background-color: rgba(0, 128, 0, 0.103);
    border: 2px solid rgba(0, 128, 0, 0.705);
}

.loginForm input:focus{
    background-color: rgba(0, 128, 0, 0.308);
    border: 3px solid rgba(0, 128, 0, 0.999);
}

.loginForm input[type='submit']{
    width: 70px;
}

.invalid{
    border: 4px solid red;
}

.valid{
    border: 4px solid blue;
}
